body {
  font-family: "Futura";
}
#catalogue-product-name {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2em
}
#catalogue-table-head {
  background-color: #2A2C2E;
  color: #FFFFFF;
  font-size: 1.2em
}
#cart-table-head {
  background-color: #2A2C2E;
  color: #FFFFFF;
  font-size: 1.2em
}
#cart-product-name {
  font-weight: bold;
  color: #FFFFFF;
  background-color: #222;
  text-transform: uppercase;
  font-size: 1.5em
}
#cart-img {
  width: 27;
  position: fixed;
}
#cart-product-price {
  font-weight: bold;
  color: #FFFFFF;
  background-color: #222;
  text-transform: uppercase;
  font-size: 1em
}
.cart-with-items {
  background-image: url('../assets/accessories.jpg')
}
.subtotal {
  background-color: #EB9E3E;
  display: inline;
}
.total-price {
  background-color: #1EFBFF;
  display: inline;
}
#vouchers-title {
  position: relative;
  left: 0.7em;
}
.voucher-button {
  text-transform: uppercase;
}
